body {
    font-family: Arial, sans-serif;
    background-color: #e7e7e7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #fff;
    padding: 20px 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
    margin-bottom: 20px;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #403f3f;
}

.form-group {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.form-group label {
    flex: 1;
    font-weight: bold;
    color: #403f3f;
}

.form-group input, .form-group select {
    flex: 2;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-left: 10px;
}

.buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.buttons button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.buttons button:hover {
    background-color: #0056b3;
}

.buttons .swap-btn {
    background-color: #00796b;
}

.buttons .swap-btn:hover {
    background-color: #004d40;
}

.result {
    font-size: 20px;
    font-weight: bold;
    color: #333;
    margin-top: 15px;
    text-align: center;
}

footer {
    font-size: 14px;
    color: #777;
    margin-top: 20px;
    text-align: center;
}
